
@if (Session["UserKey"] == null)
{
    Response.Redirect("~/Users/Login");
}

<div class="wrapper">
    <div class="main-panel">

        <div class="content">
            <div class="row">
                <div class="limiter" style="background-color:#27293D">



                    <div class="container-login100" style="padding-bottom: 0px;">



                        <div class="col-xs-12" style="margin: 20px">

                            <span class="login100-form-logo" style="margin: auto">
                                <img src="/images/login-logo.jpg" class="login100-form-logo" />
                            </span>

                            <hr />

                            <span class="login100-form-title p-b-34 p-t-27" style="padding: 10px">
                                Smart Weather
                            </span>

                            <div class="row text-center">
                                <div class="col-xs-12 col-md-6 col-lg-4" style="margin-bottom: 20px;">
                                    <a href="Index?station=THDust_001">
                                        <div style="border-radius: 15px; background-color: rgba(30, 30, 45, .8); margin-top: 0px; padding-bottom: 3px; padding-top: 10px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);">
                                            <img src="../images/pm25-detector.png" class="img-responsive " style="width: 250px; height:150px; margin: auto; margin-bottom: 10px;" />
                                            <h4 style="margin: 5px 0px 5px 0px; color: #fff; padding: 5px;">
                                                @Html.Label("NSTDA INC2 Station", new { @class = "text-center" })
                                            </h4>
                                        </div>
                                    </a>
                                </div>


                                <div class="col-xs-12 col-md-6 col-lg-4" style="margin-bottom: 20px;">
                                    <a href="Index?station=THDust_002">
                                        <div style="border-radius: 15px; background-color: rgba(30, 30, 45, .8); margin-top: 0px; padding-bottom: 3px; padding-top: 10px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);">
                                            <img src="../images/pm25-detector-2.png" class="img-responsive " style="width: 250px; height:150px; margin: auto; margin-bottom: 10px;" />
                                            <h4 style="margin: 5px 0px 5px 0px; color: #fff; padding: 5px;">
                                                @Html.Label("TNet Station", new { @class = "text-center" })
                                            </h4>
                                        </div>
                                    </a>
                                </div>


                                <div class="col-xs-12 col-md-6 col-lg-4" style="margin-bottom: 20px;">
                                    <a href="Index?station=THDust_003">
                                        <div style="border-radius: 15px; background-color: rgba(30, 30, 45, .8); margin-top: 0px; padding-bottom: 3px; padding-top: 10px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);">
                                            <img src="../images/pm25-detector-3.png" class="img-responsive " style="width: 250px; height:150px; margin: auto; margin-bottom: 10px;" />
                                            <h4 style="margin: 5px 0px 5px 0px; color: #fff; padding: 5px;">
                                                @Html.Label("NSTDA Main Building Station", new { @class = "text-center" })
                                            </h4>
                                        </div>
                                    </a>
                                </div>


                                <div class="col-xs-12 col-md-6 col-lg-4" style="margin-bottom: 20px;">
                                    <a href="Index?station=THDust_003">
                                        <div style="border-radius: 15px; background-color: rgba(30, 30, 45, .8); margin-top: 0px; padding-bottom: 3px; padding-top: 10px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);">
                                            <img src="../images/pm25-detector-4.png" class="img-responsive" style="width: 250px; height:150px; margin: auto; margin-bottom: 10px;" />
                                            <h4 style="margin: 5px 0px 5px 0px; color: #fff; padding: 5px;">
                                                @Html.Label("Staion 4", new { @class = "text-center" })
                                            </h4>
                                        </div>
                                    </a>
                                </div>


                                <div class="col-xs-12 col-md-6 col-lg-4" style="margin-bottom: 20px;">
                                    <a href="#">
                                        <div style="border-radius: 15px; background-color: rgba(30, 30, 45, .8); margin-top: 0px; padding-bottom: 3px; padding-top: 10px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);">
                                            <img src="../images/pm25-detector-5.png" class="img-responsive " style="width: 250px; height:150px; margin: auto; margin-bottom: 10px;" />
                                            <h4 style="margin: 5px 0px 5px 0px; color: #fff; padding: 5px;">
                                                @Html.Label("Coming Soon", new { @class = "text-center" })
                                            </h4>
                                        </div>
                                    </a>
                                </div>


                                <div class="col-xs-12 col-md-6 col-lg-4" style="margin-bottom: 20px;">
                                    <a href="#">
                                        <div style="border-radius: 15px; background-color: rgba(30, 30, 45, .8); margin-top: 0px; padding-bottom: 3px; padding-top: 10px; box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);">
                                            <img src="../images/pm25-detector-6.png" class="img-responsive " style="width: 250px; height:150px; margin: auto; margin-bottom: 10px;" />
                                            <h4 style="margin: 5px 0px 5px 0px; color: #fff; padding: 5px;">
                                                @Html.Label("Coming Soon", new { @class = "text-center" })
                                            </h4>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
